<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <div>
        <p>Abhishek Kumar (19ME31035) <br> Pre-Final Year Under Greaduate student <br> Department of Mechanical
            Engineering <br> IIT Kharagpur <br>Mobile: 9334106067 <br>
            <address>Email :
                <a href="abhishekkumardnr8000@gmail.com">abhishekkumardnr8000@gmail.com</a>
            </address> 
        </p>
    </div>
    
    <%- include("partials/footer"); -%>
